<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <configSections>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"></section>
    </configSections>
    <typeAliases>
      <typeAlias alias="IAttributeServices" type="CSharp.Core,Chapters.DI"></typeAlias>
      <typeAlias alias="AttributeService" type="CSharp.Core,Chapters.DI"></typeAlias>
    </typeAliases>
    <container>
      <register type="IAttributeServices" mapTo="AttributeService"></register>
    </container>
  </unity>-->

  
  
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="EMarketEntities" connectionString="metadata=res://*/Models.EMarket.csdl|res://*/Models.EMarket.ssdl|res://*/Models.EMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRASANJEET;initial catalog=EMarket;user id=sa;password=bapasitaram;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <assembly name="CSharp.Terminal" />
    <assembly name="CSharp.Core" />

    <namespace name="CSharp.Core.Chapters.DI" />
    <namespace name="CSharp.Terminal" />

    <container>
      <register type="IAttributeServices" mapTo="AttributeService"></register>
    </container>

  </unity>-->

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <alias alias="IAttributeServices" type="CSharp.Core.Chapters.DI.IAttributeServices,CSharp.Core" />
    <namespace name="CSharp.Core.Chapters.DI" />
    <assembly name="CSharp.Core" />

    <container>
      <register type="IAttributeServices"  mapTo="AttributeService" />
    </container>

  </unity>
  
</configuration>